[global]
upgrade_only = true
target = "/usr/local/bin"

["lyderic/emd"]

["atkrad/wait4x"]

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}

["junegunn/fzf"]

["casey/just"]

["sharkdp/bat"]
asset_filters = [ "x86_64-unknown-linux-gnu", ".tar.gz" ]

["mikefarah/yq"]
asset_filters = [ "yq_linux_amd64" ]

{{- end }}
