#!/bin/bash

# This installs lua libs and various scripts

set -e

VERSION="20260728-0"

# To force a trigger of this file, even if no changes have 
# occured, increment this:
# TRIGGER = 0

# To understand what's going on here check this:
# https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#run-a-script-when-the-contents-of-another-file-changes

[ "$EUID" -eq 0 ] && {
	echo -e "\e[33mroot doesn't need to deploy libs and scripts\e[m"
	exit 0
}

LUA_SHARE_DIR="/usr/share/lua"

declare -A LUALIBS
LUALIBS[dkjson]="{{ include "lua/dkjson.lua" | sha256sum }}"
LUALIBS[argparse]="{{ include "lua/argparse.lua" | sha256sum }}"
LUALIBS[lee]="{{ include "lua/lee.lua" | sha256sum }}"
LUALIBS[tmpl]="{{ include "lua/tmpl.lua" | sha256sum }}"

declare -A LUASCRIPTS
LUASCRIPTS[ghbin]="{{ include "scripts/ghbin" | sha256sum }}"
LUASCRIPTS[vigilax]="{{ include "scripts/vigilax" | sha256sum }}"
LUASCRIPTS[lod]="{{ include "scripts/lod" | sha256sum }}"

declare -A WGSCRIPTS
WGSCRIPTS[wg-json]="{{ include "scripts/wg-json" | sha256sum }}"
WGSCRIPTS[wg-status]="{{ include "scripts/wg-status" | sha256sum }}"

main() {
	echo -e "\e[34m[LUA Libs And Scripts]\e[m"
	command -v lua > /dev/null || {
		echo -e "\e[1;31mlua not found!\e[m"
		return
	}
	deploy_libs
	deploy_luascripts
	which wg >/dev/null 2>&1 && {
		deploy_wgscripts
	}
}

deploy_libs() {
	luaversion=$(lua -e 'print(string.match(_VERSION, "(%d%.%d)"))')
	dst="${LUA_SHARE_DIR}/${luaversion}"
	for key in "${!LUALIBS[@]}"; do
		luafile="${key}.lua"
		sudo install --compare -D --target "${dst}" --mode 0644 \
		"{{ joinPath .chezmoi.sourceDir "lua/${luafile}" | quote }}" && {
			echo -e "\e[1;32mOK\e[m ${luafile}"
		} || {
			echo -e "\e[1;31mFAIL!\e[m ${luafile}"
		}
	done
}

deploy_luascripts() {
	echo -e "\e[34m[Lua Scripts]\e[m"
	for luascript in "${!LUASCRIPTS[@]}"; do
		sudo install --compare -D --target "/usr/local/bin" --mode 0755 \
		"{{ joinPath .chezmoi.sourceDir "scripts/${luascript}" | quote }}" && {
			echo -e "\e[1;32mOK\e[m ${luascript}"
		} || {
			echo -e "\e[1;31mFAIL!\e[m ${luascript}"
		}
	done
}

deploy_wgscripts() {
	echo -e "\e[34m[WireGuard Scripts]\e[m"
	for wgscript in "${!WGSCRIPTS[@]}"; do
		sudo install --compare -D --target "/usr/local/bin" --mode 0755 \
		"{{ joinPath .chezmoi.sourceDir "scripts/${wgscript}" | quote }}" && {
			echo -e "\e[1;32mOK\e[m ${wgscript}"
		} || {
			echo -e "\e[1;31mFAIL!\e[m ${wgscript}"
		}
	done
}

main ${@}

# vim: ft=bash
