{{ chezmoi:template:missing-key=zero }}
{{- if eq .chezmoi.config.encryption "gpg" -}}
default-key {{.chezmoi.config.gpg.recipient}}
default-recipient-self
{{ end -}}
keyid-format long
with-keygrip
quiet
# vim: ft=gpg
