{{ chezmoi:template:missing-key=zero }}
{{- if eq .chezmoi.config.encryption "gpg" -}}
default-key {{.chezmoi.config.gpg.recipient}}
default-recipient-self
{{ end -}}
keyid-format long
with-keygrip
quiet
weak-digest SHA1
force-mdc
require-cross-certification
cipher-algo AES256
digest-algo SHA512
cert-digest-algo SHA512
# vim: ft=gpg
